<!DOCTYPE html>
<html lang="en">


<body>



  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Diabetes Prediction</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the diabetes of people
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>pregnancies</b></label>
            <br>
          <input placeholder="numberof pregnancies" name="pregnancies" id="first_name" type="text" class="validate">
        </div>
        <div class="input-field col s4">

          <label for="last_name"><b>glucose </b></label>
            <br>
          <input id="last_name" name="glucose" placeholder="glucose"  type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name"><b>bloodpressure</b></label>
            <br>
          <input id="_name" name="bloodpressure" placeholder="bloodpressure" type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_6name"><b>skinthickness</b></label>
            <br>
          <input id="_6name" name="skinthickness" placeholder="skinthickness" type="text" class="validate">

        </div>

       <div class="input-field col s4">
            <label for="_1name"><b>insulin</b></label>
            <br>
          <input id="_1name" name="insulin" placeholder="insulin" type="text" class="validate">

        </div>

       <div class="input-field col s4">
            <label for="_2name"><b>bmi</b></label>
            <br>
          <input id="_2name" name="bmi" placeholder="bmi" type="text" class="validate">

        </div>

       <div class="input-field col s4">
            <label for="_3name"><b>pidegree</b></label>
            <br>
          <input id="_3name" name="pidegree" placeholder="pidegree" type="text" class="validate">

        </div>

       <div class="input-field col s4">
            <label for="_4name"><b>age</b></label>
            <br>
          <input id="_4name" name="age" placeholder="age" type="text" class="validate">

        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict </button>
      </div>
    </form>
      </div>

      <br>
        {{pred}}<br>

    </div>
  </div>


    <br><br>
  </div>
  </div>>
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

